:root { 
--green_300:#7fcc93; 
--black_900_7f:#0000007f; 
--green_200:#97d79e; 
--gray_50_01:#f8faff; 
--deep_orange_50:#ffe8e8; 
--red_200:#eba3a3; 
--light_green_300:#9bdd7c; 
--blue_A200:#4285f4; 
--red_500:#eb4335; 
--green_600:#34a853; 
--gray_50:#f7faff; 
--green_500:#3cc952; 
--black_900:#000000; 
--blue_A200_01:#3f84f8; 
--red_A700:#ff0000; 
--gray_600:#848484; 
--gray_400:#b0b0b0; 
--gray_500:#999ca0; 
--blue_gray_100:#d9d9d9; 
--blue_700:#346ad4; 
--amber_500:#fbbc05; 
--red_A100:#ee8383; 
--red_A200:#ff4e64; 
--gray_900:#231f20; 
--amber_200:#f6dc7d; 
--green_50:#e9f9eb; 
--gray_200:#eaeaea; 
--gray_300:#dfdfdf; 
--orange_200:#ddbe85; 
--gray_100:#f5f5f5; 
--deep_purple_50:#ebe6f9; 
--gray_700_26:#62626226; 
--indigo_200:#a8b0e5; 
--gray_100_01:#f2f2f2; 
--red_200_01:#e89f9f; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}